
	
	 a:link { 
	COLOR: #000000;
	text-decoration : none;
	font-size: 15px;
}	
	 a:hover, a:visited { 
	COLOR: #000000;
	text-decoration : none;
	font-size: 15px;
}	

	 a.menu:link { 
	COLOR: #312822;
	font-weight: bold;
	text-decoration : none;
	font-size: 15px;
}	
	 a.menu:hover, a.menu:visited { 
	COLOR: #312822;
	font-weight: bold;
	text-decoration : none;
	font-size: 15px;
}	

table{
	color: #000000;
	font-weight: normal;
	font-family: "Times New Roman", Times, serif;
	
}

p {

  line-height : 20px;
}

h1{
color: #000000;
	font-size: 24px;
	font-weight: bold;
}

h2{
color: #000000;
	font-size: 20px;
	font-weight: bold;
}
h3{
color: #000000;
	font-size: 17px;
	font-weight: bold;
}
h4{
color: #000000;
	font-size: 16px;
	font-weight: bold;
	font-style : italic;
}